<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ninjastyles.css') }}">
</head>
<body>
	<div class="main">
	 <h1>Who you like tho </h1>
	 <a href="http://localhost:5000/ninja/blue">Leonardo</a>
	 <a href="http://localhost:5000/ninja/purple">Donatello</a>
	 <a href="http://localhost:5000/ninja/orange">michelangelo</a>
	 <a href="http://localhost:5000/ninja/red">raphael</a>
	 <a href="http://localhost:5000/ninja/notapril">who this?</a>
	 <img src="{{ url_for('static', filename='tmnt.png') }}">
	</div>

	

</body>
</html>