.error{
    background-color:rgb(231, 55, 55);
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding:10px 5px;
    color:white;
}
.float_left{
    float:left;
}
.float_right{
    float: right;
}
#header *{
    margin:1em;
}
.ratings{
    width:48%;
    display: inline-block;
    vertical-align:top;
}